/* header footer */

.headerWrap {
  width: 100%;
  text-align: center;
  background-position: center;
  background-size: cover;


}

nav {
  font-size: 1.2rem;
  position: relative;
}

nav ul {
  text-align: center;
  margin: 0 auto;
  width: auto;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  line-height: 50px;
}

nav ul li a {
  color: #FFFFFF;
  text-align: center;
  padding: 15px 20px;
  box-sizing: border-box;
}

li a:hover {
  color: #ffdd34;
}


.dropDownWrap1 {
  position: relative;
}

.dropDown {
  display: none;
}

#drop-content {
  position: absolute;
  z-index: 1;
}

#drop-content li {
  display: block;
  font-size: 1rem;
  background-color: #dfdfdf;
  padding: inherit;
}


/* footer */