@charset "utf-8";

#sect_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(2px);
    transition: all .3s;
    z-index: 1000;
}

/* off */
#sect_modal.off {
    opacity: 0;
    pointer-events: none;
}

#modal {
    position: absolute;
    top: 350px;
    left: 20%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 2px solid black;
    border-radius: 4px;
}


#modal2 {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 2px solid black;
    border-radius: 4px;
}


.modal-content {
    padding: 1rem;
    width: 400px;
}

.modal-content img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.modal-set {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em;
    background: #eaeaec;
}


.quick_btn {
    display: block;
    position: absolute;
    border: 1px solid red;

}

button {
    padding: .5em 2em;
    background: #000;
    border: none;
    color: #fff;
}